<footer class="page-footer blue accent-3">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">// todo</h5>
        <p class="grey-text text-lighten-4">
            // todo
        </p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">// todo</h5>
        <p class="grey-text text-lighten-4">
          // todo
        </p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">// todo</h5>
        <p class="grey-text text-lighten-4">
          // todo
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue accent-4">
    <div class="container">
      Copyright &copy; 2014
    </div>
  </div>
</footer>
