body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
}
h1, h2, h3 {
	font-weight: 100;
	margin: 0;
	padding: 0;
	color: #57BEDE;
}
#wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 450px;
	margin: 10% auto;
}
a:link, a:visited {
	color: #57BEDE;
	text-decoration: underline;
}
a:hover, a:active {
	color: #44A4C2;
}
.clearfix {
	clear: both;
}
